# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
wp.26_15964.2025-02-25_14-59-29/

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# SSH keys and configuration
**/id_*.pub
**/id_*
**/*.pem
**/*.key
**/cursor_key*
**/.ssh/config
cursor_key
cursor_key.pub
id_dsa.pub
.gitignore
SunnyBoy Entertainment_files/5fc7a936d9b12c49-min.en-US.css
vscode-gitignore-extension/package.json
SunnyBoy Entertainment.html
